name: Tests
on:
  pull_request:

permissions:
  contents: read

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.2
      - uses: reviewdog/action-rubocop@v2

  brakeman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.2
      - uses: reviewdog/action-brakeman@v2
        with:
          brakeman_flags: --except CheckEOLRails

  misspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.2
      - uses: reviewdog/action-misspell@v1
        with:
          locale: "US"

  test-rails:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby:
          ## test against ruby versions from the last two release cycles
          ##
          ## cf https://endoflife.date/ruby
          # 2023-03-30 releases
          - 3.0.6
          # 2024-04-23 releases
          - 3.0.7
          # 2024-07-26 release
          - 3.2.5
          # 2024-10-30 release
          - 3.2.6
          # 2025-01-15 release
          - 3.3.7
        rails:
          ## test against last two releases from supported rails versions
          ## when updating, be sure to add the matching version Gemfile to
          ## .github/gemfiles
          ##
          ## cf https://endoflife.date/rails
          # 2023-03-13 releases
          - 7.0.4.3
          # 2023-10-05 releases
          - 7.1
        exclude:
          ## be careful with which versions of ruby does rails support
          ## cf https://www.fastruby.io/blog/ruby/rails/versions/compatibility-table.html
          # rails 6.0 requires ruby < 3
          - rails: 7.0.4.3
            ruby: 3.2.5
          - rails: 7.0.4.3
            ruby: 3.2.6
          - rails: 7.0.4.3
            ruby: 3.3.7

    env:
      RAILS_ENV: test
      BUNDLE_GEMFILE: ${{ github.workspace }}/.github/gemfiles/rails-${{ matrix.rails }}.Gemfile

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: install libsqlite3-dev
        run: sudo apt-get install libsqlite3-dev
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Prepare database
        run: bundle exec rails db:setup
      - name: Run tests
        run: bundle exec rake spec
